.dropdown {
  min-width: 240px;

  &__label {
    color: $color-primary-light;
    @include title1;
  }
  &__select {
    @include title1;
    border: none;
    background-color: $color-primary-dark;
    outline: transparent;
    color: $color-white;
    margin: 17px 0 17px 30px;
  }
}
