.button {
  @include title1;
  color: $color-white;
  outline: transparent;
  border: none;
  border-radius: 5px;
  padding: 17px;
  cursor: pointer;

  &--red {
    background-color: $color-secondary;
    width: 100%;
  }
  &--gray {
    background-color: $color-primary-light;
    opacity: 0.8;
    width: 100%;
  }
  &--border-red {
    border-color: $color-secondary;
    border-width: 1px;
  }
  &--text-red {
    color: $color-secondary;
  }
}
