.search-bar {
  &__title {
    @include extra-large-title;
    color: $color-white;
    margin-bottom: 50px;
  }
  &__search-container {
    display: flex;
  }
  &__form-input {
    flex-basis: 80%;
    margin-right: 10px;
  }
  &__search-button {
    flex-basis: 20%;
  }
}
