.search-bar__title {
  color: $color-white;
  text-transform: uppercase;
  font-weight: 400;
}
.search-bar__search-container {
  display: flex;
}
.search-bar__search-input {
  flex-basis: 80%;
  margin-right: 10px;
}
.search-bar__search-button {
  flex-basis: 20%;
}
